@model EliotJones.RadioButtons.ViewModels.StringRadioButtons

<div class="ej-radiobutton-block">

    @Html.ValidationMessageFor(model => model.Selected, "", new { @class = "ej-radiobutton-validation" })

    @for (int i = 0; i < Model.PossibleValues.Count; i++)
    {
        MvcHtmlString nameForThisValue = Html.NameFor(m => m.PossibleValues[i].Value);

        <div class="ej-radiobutton-row">
            <div class="ej-radiobutton-hidden-fields">
                @Html.HiddenFor(m => m.PossibleValues[i].Key)
                @Html.HiddenFor(m => m.PossibleValues[i].Value)
            </div>

            <label for="@nameForThisValue" class="ej-radiobutton-label">

                @Html.RadioButtonFor(m => m.SelectedValue, Model.PossibleValues[i].Value,
                            htmlAttributes: new { id = nameForThisValue })

                <span class="ej-radiobutton-span">
                    @Html.DisplayFor(m => m.PossibleValues[i].Key)
                </span>
            </label>
        </div>
    }
</div>