@model EliotJones.MvcHelpers.ViewModels.StringIntCollection

@for (int i = 0; i < Model.PossibleValues.Count; i++)
{
    
    @Html.HiddenFor(m => m.PossibleValues[i].Value)
    @Html.HiddenFor(m => m.PossibleValues[i].Key)
    
    string nameForThis = Html.NameFor(m => m.PossibleValues[i].Value).ToString();
    
    <label for="@nameForThis" class="">

        @Html.RadioButtonFor(m => m.SelectedValue, Model.PossibleValues[i].Value,
                            htmlAttributes: new { id = nameForThis })

        @Html.DisplayFor(m => m.PossibleValues[i].Key)

    </label>
}
